@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplikacija o studentima, fakultetima, ocijenama i tako dalje...</h1>
    <p> - Aplikacija je napisana u JavaScriptu.</p>
</div>

